.container-algo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    top: 0;
}
.container-algo h1{
    font-family: 'Monument';
    color: rgb(207, 140, 228);
    font-size: 100px;
    text-transform: uppercase;
  
}
.algo-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    overflow: hidden;
    background-color: yellow;
}
.algo-overlay{
    background: url(./images/finalpath.jpg) 50% 50% no-repeat;
    background-size: cover;
} 
.link {
    font-size: 16px;
    font-family: "Neutral Face";
    color: rgb(231, 98, 98);
    font-weight: bold;
    margin-top: 5px;
    text-decoration: none;
}
/* button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-right: 10px;
    cursor:pointer;
  } */