* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}
.path {
    border: .5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    justify-self: end;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
#logo{
    grid-column: 2/3;
    font-size: 24px;
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* //background:lightblue; */

}
.grid{
    height: 60%;
    width: 100%;
    position: relative;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}
.grid::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}

li a {list-style-type: none; text-decoration : none; color : #e3e8ec;}
ul{
    list-style-type:none;
    }

div {
  width : 200px; 
  /* //background: #d9d9d9; */
  margin : auto; 
}

span {
  padding : 20px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
  
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  background : #2d2f31; 
  
}

.slide li {padding : 20px;}

#algorithm {position: absolute; opacity: 0; height: 0px;}    

#algorithm:checked + 
.slide {height: 200px;} 